:root {
	/* --dark-main: #1d3557; */
	--dark-main: black;

	--light-main: white;
	--orange-accent: rgb(255, 82, 0);
}

* {
	box-sizing: border-box;
	/* font-family: 'dosis', arial; */
	font-family: "poppins", arial;
	color: white;
}
.line {
    width:50%;

    height: 4px;
    background:#f5ba09;
    margin: 10px auto;
    border-radius: 5px;
}

a {
	text-decoration: none;
}

p {
	color: lightgray;
}

html,
body,
#root {

	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: var(--dark-main);
}
/* Navbar Test Css */

.nav-list {
	position: fixed;
	background: white;
	color: var(--dark-main);
	z-index: 10;
	box-shadow: 0px 0px 10px var(--clr-gray200);
	margin: 0;
	padding: 1rem 0;
	border-radius: var(--radius);
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
}
.nav-item {
	list-style: none;
	margin-right: 2em;
}
.nav-item a {
	text-decoration: none;
	color: black
}
.nav-item:first-child{
	margin-right: auto;
	margin-left: 2em;
	color:#f5ba09;
	/* background-color: #dca604; */
}
/* Social */

.social-list {
	/* border: #dca604 solid 1px; */
	/* position: fixed; */
	/* background: white; */
	color: var(--dark-main);
	z-index: 10;
	/* box-shadow: 0px 0px 10px var(--clr-gray200); */
	margin: 0;
	padding: 1rem 0;
	border-radius: var(--radius);
	display: flex;
	justify-content:center;
	align-items:center;
	width: 100%;
}
.social-item {
	display: flex;
   margin-top: 1em;
	list-style: none;
	margin-right: 2em;
}
.social-item a {
	/* border: #dca604 solid 1px; */
	margin-right: 1em;
	margin-left: 1em;
	display: flex;
	justify-content: space-between;
	
	/* justify-content: space-between; */
     /* margin-left: 6em;
	 margin-right: 6em; */
	/* align-items:center; */
	/* justify-content:space-between; */
	

}

.log-2 {
	font-size: 45px;
	display: block;
	margin: auto;
	/* border: #dca604 solid 1px; */
  


}
/* .social-item:first-child{
	margin-right: auto;
	margin-left: 2em;
	background-color: #dca604;
} */
/* Social End Here */

.socials-container-top {
	
	width: 33%;
	padding: 35px 0;
	margin: auto;
	display: flex;

	justify-content: space-between;

	
		
	}
	
	/* .socials-container-top > a {
		margin-right: 0em;
		
	} */

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	/* font-family: "Dosis", sans-serif; */
	font-weight: 700;
	/* text-transform: uppercase; */
}
.App {
	font-family: sans-serif;
	text-align: center;
  }
  .moda {
	  background-color: #f5ba09;
	  width: 50%;
	  height: 50%;
  }
.important-text {
	color: #f5ba09;
}

.accent-span-secondary {
	color: gold;
}

.accent-orange-text {
	color: #f5ba09;
}

.flex-center-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

img {
	display: block;
	max-width: 100%;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.page-container {
	margin-top: 10em;
}

.main-title {
	color: var(--dark-main);
}

.main-header {
	
	display: flex;
	justify-self: start;
	position: fixed;
	background: white;
	width: 100%;
	padding: 1em 0;
	color: var(--dark-main);
	z-index: 10;
	top: 0;
	
}

nav {

	color: var(--dark-main);
	display: flex;
	margin: 0 auto;
}

nav a {
	/* border: 2px solid #dca604; */
	position: relative;
	margin-right: 1em;
	color: var(--dark-main);
	text-transform: uppercase;
	display: flex;
	align-items: center;
	font-weight: bold;
}
nav a::after{
	content: '';
	position: absolute;
	bottom: -15px;
	left: 50%;
	width: 0%;
	height: 4px;
	background: #f5ba09;
	transition: 0.4s ease-out;
}
nav a:hover::after{
	left: 0;
  width: 100%;
}

.main-header > h1 {
	color: var(--dark-main);
}

section {
	background-color: var(--dark-main);
}

.section-title {
	
	/* border: #f5ba09 solid 1px; */
	font-size: 50px;
	padding: 0em 1em 1em 1em;
	text-align: center;
	margin-top: 0.2em;
	font-family: "scada", arial;
}

.main-section-title {

	padding-bottom: 0;
	margin-top: 0.5em;
}

.work-section-title {
	padding-top: 0;
	margin-top: 0;
}

.main-container {

	padding-top: 3em;
	/* max-width: fit-content; */
}
.us{
	display:flex;
	
	justify-content: start;

    margin-left: 8em;
	margin-top: 1.5em;
	background-color: #f5ba09;
	position:sticky;

}
.us :hover {
	color:var(--dark-main);
	background-color:#f5ba09;
	cursor:grab;
}
.sub-title {
	/* margin: 0 auto; */
	margin-top: 0.5em;
	/* padding-top: em; */
	width: 100%;
	display: flex;
	justify-content: center;
	color: #f5ba09;
}
.test {
	color:#f5ba09;
	background-color: #f5ba09;
	border-radius: 50%;
	width: 70px;
	height: 70px;
}
.button {
	display: flex;
	justify-content: center;
	position:fixed;
	background-color: #f5ba09;

}
.btn.secondary {
	color: var(--light-main);
	border: 1px solid var(--light-main);
	border-radius: 25px;
	padding: 0.2em 0.6em;
	
}

.inner-container {
	padding: 0 1em;
	margin: 0 auto;
	width: 100%;
	
}
/* NotFound */
.not-found {
	margin-top: 2em;
}
/* BIO */


.bio-img {

	width: 100%;
	max-width: 400px;
	/* border-radius: px; */
	margin: 1em auto;
	/* transform: translateY(-100px); */
	/* box-shadow: 10px 10px var(--orange-accent); */
}



/* Skills */

.what-im-good-at {
	text-align: center;
	margin-bottom: 1em;
}

.skills-container {
	/* border: #f5ba09 solid 1px; */
	display: flex;
	flex-direction: column;
}

.skill-list {
	display: flex;
	flex-wrap: wrap;
	max-width: 600px;
	margin: 0 auto;
	justify-content: flex-start;
	justify-content: center;
	align-self: center;
}

.pill {
	padding: 0.2em 0.6em;
	/* border: 1px solid white; */
	background: #f5ba09;
	color: var(--dark-main);
	border-radius: 25px;
	margin: 0.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: color 150ms ease;
	max-width: 50%;
}

/* Projects */

.project-list {
	/* border: #f5ba09 solid 1px; */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.project {
	max-width: 300px;
	padding: 1em;
	border-radius: 25px;
	background: var(--light-main);
	margin-bottom: 2em;
	margin-right: 1em;
	margin-left: 1em;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	height: 550px;
}

.read-more.featured {
	/* transform: translateY(-50px); */
	color: #f5ba09;
	z-index: 999;
	position: absolute;
}

.project-title {
	color: var(--dark-main);
	margin: 1em auto 0;
	font-size: 20px;
}

.project-link-container {
	display: flex;
	justify-content: space-between;
	margin: 0 1em;
	margin-top: auto;
}

.project-link {
	color: var(--dark-main);
	border: 1px solid var(--dark-main);
	padding: 0.2em 0.6em;
	border-radius: 25px;
}

.project-link.primary {
	background-color: var(--dark-main);
	color: var(--light-main);
	border: 1px solid var(--dark-main);
}

.project > p {
	color: var(--dark-main);
	font-size: 16px;
}

.image-container > img {
	/* border-radius: 15px; 
	/* object-fit: cover; */
}

.image-container {
	min-height: 180px;
	height: 180px;
	/* object-fit: cover; */
	border-radius: 15px;
	overflow: hidden;
	position: relative;
	border: 1px solid gray;
}

/* .image-container.featured {
	border: 10px solid gold;
} */

.expand {
	position: absolute;
	top: -5px;
	left: -50px;
	padding: 10px 50px;
	padding-top: 20px;
	background-color:  #f5ba09;
	color: black;
	transform: rotate(-45deg);
	z-index: 50;
	font-size: 0.75em;
	border-bottom-right-radius: 15px;
	font-weight: bold;
	border: none;
	outline: none;
}

.project.featured {
	cursor: pointer;
	filter: brightness(0.8);
	transition: filter 250ms ease;
}

.project.featured:hover {
	filter: brightness(1);
	
}

/* Contact */
.contact-note-container {
	width: 100%;
	display: flex;
	justify-content: center;
}


.underline-input {
   display: flex;
   justify-content: center;
	color: black;
	background: none;
	outline: none;
	border: none;
	border-bottom: 2px solid #f5ba09;
	padding: 1em 1em 1em 0;
	width: 100%;
	margin-bottom: 1.5em;

}

label {
	display: block;
}

.input-group {
	margin-bottom: 2em;
	width: 100%;
}

.contact-form {
	
	/* width: 90%;
	 margin: 0 auto;   */
} 

.input-submit {
	background:#f5ba09;
	font-size: 16px;
	cursor: pointer;

}

.input-submit:disabled {
	cursor: not-allowed;
}

/* Footer */
.footer {
	position: fixed;
	padding: 1em 1em;
	/* background-color: var(--light-main);
	color: var(--dark-main); */
	color: lightgray;
	display: flex;
	justify-content: left;
	margin-left: 0em;
	/* position: relative; */
	bottom: 0;
	width: 100%;
	margin-top: 5em;
	text-align: center;
}
.page-footer {
	position: relative;
	padding: 5em 1em;
	/* background-color: var(--light-main);
	color: var(--dark-main); */
	color: lightgray;
	display: flex;
	justify-content: center;
	/* position: relative; */
	bottom: 0;
	width: 100%;
	margin-top: 5em;
	text-align: center;
}

/* Modal */
.modal-backdrop {
	background-color: rgb(0, 0, 0);
	opacity: 0.9;
	height: 100vh;
	width: 100%;
	z-index: 600;
	position: fixed;
	top: 0;
	bottom: 0;
	overflow-y: hidden;
}

.modal-card {
	z-index: 2001;
	position: fixed;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	top: 0;
}

/* Featured content */

.detail-image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 2em;
	flex-direction: column;
}

.detail-image-2 {
	z-index: 10;
}

.detail-image-3 {
	cursor: pointer;
}

.detail-content-container {
	margin: 0 auto;
	padding: 0 1em;
	max-width: 700px;
}

.detail-content-container > p {
	color: white;
}

.detail-image {
	position: relative;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transform-origin: center;
	transition: filter 250ms ease;
	margin: 0.5em 0;
}

.reset-modal-btn {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 2002;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}

.reset-modal-icon {
	width: 70px;
	height: 70px;
}

/* Modal backdrop */
.modal-animate-enter > .modal-backdrop {
	opacity: 0;
}
.modal-animate-enter.modal-animate-enter-active > .modal-backdrop {
	opacity: 0.9;
	transition: opacity 500ms ease;
}
.modal-animate-exit > .modal-backdrop {
	opacity: 0.9;
}
.modal-animate-exit.modal-animate-exit-active > .modal-backdrop {
	opacity: 0;
	transition: opacity 500ms ease;
}

/* Modal backdrop */
.modal-animate-enter > .modal-card {
	opacity: 0;
}
.modal-animate-enter.modal-animate-enter-active > .modal-card {
	opacity: 1;
	transition: opacity 500ms ease;
}
.modal-animate-exit > .modal-card {
	opacity: 1;
}
.modal-animate-exit.modal-animate-exit-active > .modal-card {
	opacity: 0;
	transition: opacity 500ms ease;
}

.icon {
	width: 30px;

    
	
}

.icon > path {
	transition: fill 200ms ease;
}

.socials-container-top > a > .icon:hover > path {
	width: 100px;
	fill: #f5ba09;
}

.not-found-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
@media screen and (max-width: 414px) {
.socials-container-top {
	width: 65%;
}
}

@media screen and (min-width: 1150px) {
	
	.detail-content-container {
		width: 75%;
		padding-top: 2em;
	}
	
	.detail-image {
		width: 40%;
	}

	.section-title {
		font-size: 75px;
	}

	.skills-description {
		/* border: #f5ba09 solid 1px; */
		width: 600px;
		margin-right: 2em;
	}

	.skills-container {
		flex-direction: row;
	}

	.detail-image {
		margin: 0;
	}

	.detail-image-container {
		flex-direction: row;
	}

	.section-container {
	
		/* border: #f5ba09 solid 1px; */
		padding: 1em 3em;
		margin: 0rem;
		/* border-radius: 25px; */
		
	}

	

	.inner-container {
		max-width: 1400px;
	
	}

	.bio-with-image {
		display: flex;
	}

	.bio-img {
		border-radius: 50%;
		order: 2;
		margin: 0;
		align-self: center;
		margin-left: auto;
		/* max-width: 500px; */
	}

	.socials-container {
		margin-bottom: 5em;
	}

	.bio {
		/* margin-right: 5em; */
		max-width: 500px;
	}

	p {
		font-size: 20px;
		/* font-family: arial; */
	}

	/* Animations */

	/* Right image fan out */
	.move-1-enter {
		transform: translateX(100%);
	}

	.move-1-enter.move-1-enter-active {
		transform: scale(0.5) translateX(65%);
		transition: transform 500ms ease;
	}

	.move-1-enter-done {
		transform: scale(0.5) translateX(65%);
	}

	.move-1-exit {
		transform: scale(0.5) translateX(65%);
	}

	.move-1-exit.move-1-exit-active {
		transform: translateX(100%);
		transition: transform 500ms ease;
	}

	/* Left image fan out */
	.move-3-enter {
		transform: translateX(-100%);
	}

	.move-3-enter.move-3-enter-active {
		transform: scale(0.5) translateX(-65%);
		transition: transform 500ms ease;
	}

	.move-3-enter-done {
		transform: scale(0.5) translateX(-65%);
	}

	.move-3-exit {
		transform: scale(0.5) translateX(-65%);
	}

	.move-3-exit.move-3-exit-active {
		transform: translateX(-100%);
		transition: transform 500ms ease;
	}

	.detail-image-1,
	.detail-image-3 {
		cursor: pointer;
	}

	.detail-image-1:hover,
	.detail-image-3:hover {
		filter: brightness(50%);
	}
}


/* Button fixed */

.fixed-btn{
	position: fixed;
	bottom: 3%;
	left: 3%;
	background:#f5ba09;
	width: 65px;
	height: 65px;
	line-height: 45px;
	text-align: center;
	border-radius: 50%;
	/* box-shadow: 4px 4px 4px #0a78aa; */
	cursor: pointer;

  }
  
  .fixed-btn p{
	text-transform: uppercase;
	font-family: arial;
	font-weight: 900;
	color: #fff;
	
	
  }
  
  .fixed-btn:active{
	box-shadow: 0  0;
  }

  .btn-close {
	 
	  border-radius: 10px;
	  background-color: #f5ba09;
	  color: black;
	  border: none;
	  font-size: large;
	  font-weight: bold;
	  margin-left: 99%;
	  margin-top: 1em;

  }
  .icons {

	  margin-top: 15px;
	  font-size:xx-large;
	  text-align: center;

  }

  /* Pulse CSS */
 
  *,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --clr-dark: rgb(13, 17, 19);
  --clr-light: #fff;
  --clr-accent: rgb(222, 52, 0);
  --clr-accent-dark: rgb(163, 38, 0);
  --clr-secondary: rgb(0, 76, 199);
  --br: 0.5em;
  --transition: transform 200ms cubic-bezier(0.21, 1, 0.81, 1);
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: var(--clr-dark);
  color: var(--clr-light);
}

/* h1,
h2,
h3,
p {
  margin: 0;
} */

/* img {
  max-width: 100%;
}
.name {
  font-weight: bold;
} */

/* .streamers {
  display: flex;
  text-align: center;
} */

/* .streamers img {
  border-radius: 50%;
} */

.pulse {
  width: 3em;
  height: 3em;
  /* position: fixed; */
  transition: transform ease-in-out 150ms;
  cursor: pointer;
  transform: translateY(-20%);
}

/* .pulse {
  
} */

.streamer .pulse::before {
  opacity: 1;
}

.streamer .pulse {
  transform: translateY(-20%) scale(1.1);
}

.pulse::before,
.pulse::after {
  opacity: 0;
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 50%;
}

.pulse::before {
  content: "\f16d";
  /* font-family: "Font Awesome 5 Free"; */
  font-family: "Font Awesome 5 Brands"; content: "\f16d";
  font-weight: 500;
  font-size: 2em;
  background: #dca604;
  display: grid;
  place-items: center;
  z-index: 10;
  transition: opacity 75ms linear, background-color 100ms linear;
}

.pulse::before {
  /* background: #cc0202; */
  background: #f5ba09;
}

.pulse::after {
  /* background: #f00; */
  background-color: #f5ba09;
  z-index: 1;
  animation: pulse 1250ms infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    opacity: 0.75;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}


